:root {
  --main-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--main-color);
  height: 100vh;
}
header a {
  color: #fff;
}
.hero-img {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  display: block;
  border-radius: 50%;
  border-color: #000000;
}
.hero-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgb(0, 0, 0) 100%
  );
  pointer-events: none;
}
.hero-text {
  position: absolute;
  text-align: center;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  letter-spacing: 1px;
  z-index: 2;
  font-size: clamp(16px, 4vw, 50px);
}
.custom-link-img {
  height: auto;
  transition: transform 0.3s ease;
}

.custom-link-img:hover {
  transform: scale(1.1);
}

.hero-section {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.95)),
    url("./assets/imgi_33_about.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-radius: 40px;
  margin-top: 100px;
  display: flex;
  padding-bottom: 40px;
}

.content-body p {
  margin-bottom: 5px;
  font-size: clamp(6px, 4vw, 15px);
  color: rgba(255, 255, 255, 0.7);
}
.Portfolio:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
